<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta    name="viewport"      content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta property="og:type"      content="{{page.home?'website':'article'}}"/>
    <meta property="og:url"       content="{{page.url(true)}}"/>
    <meta     name="author"       content="{{site.author.name}}"/>

    <link      rel="canonical"    href="{{page.url(true)}}"/>
    
  </head>
  <body>
    <details>
    </details>
    <nav>
    </nav>
    <footer>
    </footer>
  </body>
</html>